@using EMedicalInventory.Models;
@model IEnumerable<Obat>;

@{
    ViewData["Title"] = "Manage Drugs";
}

<div class="card">
    <div class="card-header bg-success text-white">
        <h4 class="mb-0">Manage Drugs</h4>
    </div>
    <div class="card-body">
        <a class="btn btn-primary mb-3" asp-controller="Obat" asp-action="AddDrug">+ Add New Drug</a>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Drug Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Expired Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obat in Model)
                {
                    <tr>
                        <td>@obat.DrugName</td>
                        <td>@obat.Stock</td>
                        <td>@obat.Price</td>
                        <td>@obat.ExpiredDate</td>
                        <td>
                            <a asp-route-id="@obat.Id" class="btn btn-warning btn-sm text-white">Edit</a>
                            <a asp-route-id="@obat.Id" class="btn btn-danger btn-sm text-white">Hapus</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Pagination -->
        @* <nav>
            <ul class="pagination">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-page="./Index" asp-route-pageNumber="@i">@i</a>
                    </li>
                }
            </ul>
        </nav> *@
    </div>
</div>